@import url('https://fonts.cdnfonts.com/css/dimitri');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0)), url('img/bg1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}


html {
    scroll-behavior: smooth;
}
header {
    display: flex; /* Mengatur elemen dalam satu baris */
    align-items: flex-start; /* Menyelaraskan elemen secara vertikal ke atas */
    gap: 190px; /* Jarak antara teks dan slider */
    color: white;
    margin-left: 60px;
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: 30px;
}

.header-content {
    max-width: 60%; /* Batasi lebar teks */
    margin-top: 40px;
}

header p{
    font-size: 25px;
}

.typing {
    width: 735px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #24b611;
    animation: typing 7s steps(49, end), cursor .7s steps(49, end) infinite;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}

header span{
    color: rgb(58, 194, 58);
}

nav {
    margin-bottom: 10px;
    display: flex; /* Add this line */
    justify-content: start; /* Add this line */
    margin-left: 40px;
    font-family: "Inconsolata", monospace;

}

nav img  {
    max-width: 100px;
    display: flex;
}

nav.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Add this line */
}

nav.menu ul li {
    display: flex; /* Add this line */
}

nav.menu ul a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
}

nav.menu ul a:hover {
    color: #cccccc;
}

.social-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #cccccc;
}

section {
    display: flex; /* Add this line */

}

section p {
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    width: 650px;
}

.slider {
    margin-top: 50px;
    width: 260px; /* Aspect ratio 9:16 for 9:16 images */
    height: 350px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    margin-right: 60px; /* Jarak dengan teks di header */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Bayangan untuk efek mengambang */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.8); /* Mengecilkan gambar yang tidak aktif */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    border-radius: 2px;
}

.slider img.active {
    opacity: 1;
    transform: scale(1); /* Membesarkan gambar yang aktif */
}



/* Container utama Projects */
#projects {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'VCR OSD Mono', sans-serif;
    color: whitesmoke;
    margin-left: 60px;
    border-radius: 3px;
    max-width: 1000px;
    background-image: url('img/bg2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; /* Bisa diganti dengan 'bottom' untuk bagian bawah */
    background-color: rgba(0, 0, 0, 0.514); /* Sesuaikan angka transparansi (0 - 1) */
    background-blend-mode: overlay; /* Menambahkan efek transparansi pada latar belakang */
}


#projects h2 {
    margin-bottom: 10px;
    align-self: flex-start;
}

.project-links a {
    text-decoration: none;
    padding: 5px 0px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}


.card:hover .card-overlay {
    transform: translateY(0);
}

.card-overlay h3 {
    margin: 0 0 10px 0;
}

.card-overlay p {
    margin: 0;
    max-width: 300px;
}

/* Tombol Back to Top */
#projects h3{
    color: white;
    font-family: "Inconsolata", monospace;
}
#projects a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Inconsolata", monospace;
}


/* Contact Me Section */
.contact-section {
    margin-top: 250px;
    padding: 5px;
    color: white;
    font-family: 'VCR OSD Mono', sans-serif;
    backdrop-filter: blur(10px);
    max-width: 100%;
    display: flex; /* Gunakan Flexbox */
    justify-content: space-between; /* Mengatur jarak antara teks dan formulir */ /* Menyelaraskan secara vertikal */
    gap: 40px; /* Jarak antara kolom teks dan formulir */
}

.contact-content {
    flex: 1; /* Ukuran teks */
    margin-left: 60px;
    margin-bottom: 20px;
}

.contact-content h2 {
    font-size: 30px;
    text-align: left; /* Teks rata kiri */
}

.contact-content p {
    font-size: 18px;
    text-align: left;
}

.contact-content a{
    text-decoration:none;
    font-family: "Inconsolata", monospace;
    color: whitesmoke;
    font-size: 20px;
}

.contact-content img{
    max-width: 100px;
    margin-top: 30px;
}

.contact-form-container {
    flex: 1; /* Ukuran formulir */
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 70%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.form-group input {
}

.form-group textarea {
    resize: none;
}

.btn-submit {
    align-self: flex-start; /* Posisi tombol */
    padding: 10px 20px;
    background-color: rgb(58, 194, 58);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: rgba(46, 153, 46, 0.185);
}

/* Status Message Pop-up */
#status-message {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    max-width: 300px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;  /* Awalnya sembunyikan */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

#status-message.show {
    display: block;  /* Menampilkan status message */
    opacity: 1;
}

#status-message.hide {
    opacity: 0;
    display: none;  /* Menyembunyikan pop-up dengan transisi */
}



footer {
    text-align: center;
    font-family: "Inconsolata", monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.521); /* Transparansi latar belakang */
    backdrop-filter: blur(10px);
    padding: 1px;
}